@model casaDeShows.Models.CasaDeShow
<h3>Movie</h3>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-controller="CasaDeShow" asp-action="NovaCasaDeShow" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCasaDeShow" class="titles"></label>
                <input asp-for="NomeCasaDeShow" class="form-control" />
                <span asp-validation-for="NomeCasaDeShow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnsucesso" value="Create" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>