@model IEnumerable<casaDeShows.Models.GeneroEvento>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Genero)
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.Genero)
                        </td>
                        <td>
                            <a asp-action="EditarGenero" asp-controller="Genero" asp-route-id="@item.Id">Editar</a>
                        </td>
                        <td>
                            <a asp-action="DeletarGenero" asp-controller="Genero" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

