@model IEnumerable<casaDeShows.Models.Evento>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.NomeDoEvento)
                </th>
                <th>
                    Preço do Ingresso
                </th>
                <th>
                    Ingressos
                </th>
            </tr>
        </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.NomeDoEvento)
                        </td>
                        <td>
                            R$ @Html.DisplayFor(modelItem=>item.PrecoIngresso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.Capacidade)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

