@model casaDeShows.Models.CompraEvento

@{
    ViewData["Title"]="RealizandoCompra";


}
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <form asp-controller="CompraEvento" asp-action="RealizandoCompra" method="POST"> 
            <div>
                <input asp-for="Evento.Id"/>
            </div>
            <div class="form-group">
                <p>Nome do Evento</p>
                <input disabled="" asp-for="Evento.NomeDoEvento" class="form-control" />
                <span asp-validation-for="Evento.NomeDoEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Data do Evento</p>
                <input disabled="" type="date" asp-for="Evento.DataEvento" class="form-control" />
                <span asp-validation-for="Evento.DataEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Horario</p>
                <input disabled="" type="time" asp-for="Evento.HorarioEvento" class="form-control" />
                <span asp-validation-for="Evento.HorarioEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Preço Ingresso</p>
                <input disabled="" type="number" id="preco"  asp-for="Evento.PrecoIngresso" class="form-control" />
                <span asp-validation-for="Evento.PrecoIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Ingressos Restantes</p>
                
                <input disabled="" asp-for="Evento.Capacidade" class="form-control" />
                <span asp-validation-for="Evento.Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Quantidade de Ingressos</p>
                <input onchange="calculo();" asp-for="QtdIngresso" type="number" placeholder="Digite a quantidade de ingressos..." class="form-control"/>
                <span asp-validation-for="QtdIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Valor total</p>
                <label disabled="" asp-for="ValorCompra" type="number" aria-placeholder="Valor Final da compra ...." id="ValorCompra" class="form-control"></label>
            </div>
            <button class="btn btn-success" type="submit">Comprar</button>
        </form>
    </div>
</div>
@section Scripts{
    <script>
            var valorFinal = 0.00;
            function atualiza(){
                $("#ValorCompra").html(valorFinal);
            }
            function calculo(){
                valorFinal = $("#QtdIngresso").val()*$("#Evento_Capacidade").val();
                atualiza();
            }
    </script>
}